{% load tz %}
{% load i18n %}

<html lang="es-CO"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title></title>
  <style type="text/css">
  body {
      line-height: 108%;
      font-family: Calibri;
      font-size: 11pt
  }

  p {
      margin: 0pt 0pt 8pt
  }

  li,
  table {
      margin-top: 0pt;
      margin-bottom: 8pt
  }

  .Header {
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 11pt
  }

  .ListParagraph {
      margin-left: 36pt;
      margin-bottom: 8pt;
      line-height: 108%;
      font-size: 11pt
  }

  .NoSpacing,
  .Aries,
  .EncabezadoCCE,
  .MediumGrid2,
  .NoSpacing1,
  .Sinespaciado3,
  .Sinespaciado4,
  .StinkingStyles3,
  .k {
      margin-bottom: 0pt;
      line-height: normal;
      font-family: Calibri;
      font-size: 11pt
  }

  span.SinespaciadoCar,
  span.AriesCar,
  span.EncabezadoCCECar,
  span.MediumGrid2Car,
  span.NoSpacing1Car,
  span.Sinespaciado3Car,
  span.Sinespaciado4Car,
  span.StinkingStyles3Car,
  span.kCar {
      font-family: Calibri
  }
  </style>
</head>
<body>
  <div>
      <div style="display: flex; align-items: center; justify-content: center;">
          <img 
            src="https://sfo3.digitaloceanspaces.com/three-in-one-space-bucket/three-in-one-static/profile/logo3.png?AWSAccessKeyId=DO00PRT6ALVZRZ9YPQ8K&Signature=Tiimq3R%2BTtQzvDdHVRUv1ukrdFM%3D&Expires=1708968776" 
            width="199" height="170" alt="" style="float: right" />
          <!-- <img src="media/profile/logo1.png" width="139" height="66" alt="" style="float: right" /> -->
      </div>
      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">AUTO NÚMERO {{carNum}}</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <!-- <span style="font-family:Arial;">{{ current_date|date:"F j, Y"}}</span> -->
          <span style="font-family:Arial;">{{ month_in_spanish }} {{ current_date.day }}, {{ current_date.year }}</span>
      </p>
      <p style="margin-bottom:0pt; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">&nbsp;</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">POR MEDIO DEL CUAL SE ESTABLECE EL REPARTO DE PROCESOS COMPETENCIA DE LA INSPECCION DE POLICÍA</span>
          </strong>
          <strong>
              <span style="font-family:Arial;">&nbsp;&nbsp;</span>
          </strong>
          <strong>
              <span style="font-family:Arial;">3 A 6 CATEGORÍA 1 Y 2 Y LA INSPECCIÓN DE POLICÍA 3 A 6 CATEGORÍA (ÉNFASIS EN CONTROL URBANÍSTICO) DE SAN VICENTE FERRER-ANTIOQUIA</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; line-height:normal; font-size:11.5pt;">
          <span style="width:315pt; font-family:Arial; display:inline-block;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">La Secretaria General y de Gobierno del Municipio de San Vicente Ferrer, Antioquia, en uso de las facultades establecidas en el numeral 7 del manual de funciones del empleo compilado y actualizado mediante decreto 203 de 2022 y,&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">CONSIDERANDO QUE</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">A. De conformidad con el Artículo 205 de la Ley 1801 de 2016, numerales 1, 3 y 13, son atribuciones del Alcalde Municipal:</span>
      </p>
      <ol style="margin:0pt; padding-left:0pt;">
          <li class="ListParagraph" style="margin-left:28.35pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-family:Arial; font-size:11.5pt; font-style:italic; list-style-position:inside;">Dirigir y coordinar las autoridades de policía en el Municipio o distrito.</li>
      </ol>
      <p style="margin-left:28.35pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <em>
              <span style="font-family:Arial;">3. Velar por la aplicación de las normas de policía en el Municipio y la pronta ejecución de las órdenes y las medidas correctivas que se impongan</span>
          </em>
      </p>
      <p style="margin-left:28.35pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <em>
              <span style="font-family:Arial;">13. Tener en la planta de personal de la administración distrital o municipal los cargos de inspectores y corregidores de policía necesarios para la aplicación de este Código.</span>
          </em>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <em>
              <span style="font-family:Arial;">&nbsp;</span>
          </em>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">B. Mediante Decreto número 164 de 2020, el Alcalde Municipal adoptó el estudio técnico elaborado por el Comité, en uso de sus facultades conferidas por el Honorable Concejo Municipal mediante acuerdo 003 de 2020, quedando así creada una segunda Inspección Municipal de Policía y Tránsito y por ende la creación dentro de la planta de cargos de la entidad de una plaza más de Inspector Municipal de Policía 3 a 6 categoría, es decir, actualmente se cuenta con dos cargos titulares para esta dependencia, los cuales se encuentran clasificados así, ratificada la conformación de las Inspecciones mediante adopción del estudio técnico a través del decreto 203 del 07/12/2022, modificado parcialmente por el decreto 051 de 2023:</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <table style="width:461.45pt; margin-bottom:0pt; border:0.75pt solid #000000; border-collapse:collapse;">
          <tbody>
              <tr>
                  <td colspan="2" style="width:449.9pt; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#b4c6e7;">
                      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
                          <strong>
                              <span style="font-family:Arial; color:#333333;">NIVEL TÉCNICO</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                      <p class="NoSpacing" style="text-align:center; font-size:11.5pt;">
                          <strong>
                              <span style="font-family:Arial;">I. IDENTIFICACIÓN DEL CARGO</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">CARGO:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">INSPECTOR DE POLICÍA 3 A 6 CATEGORÍA</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">NIVEL, CÓDIGO, GRADO</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">Técnico – 303 – 03</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">NÚMERO DE CARGOS:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">Dos (2)</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">ÁREA</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">Inspección Municipal de Policía y Tránsito</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">JEFE INMEDIATO</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">Secretario General y de Gobierno&nbsp;</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:11.5pt;">
                          <span style="font-family:Arial;">CARÁCTER DEL EMPLEO O NATURALEZA:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:11.5pt;">
                          <span style="font-family:Arial;">Carrera Administrativa</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:15.75pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                      <p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
                          <strong>
                              <span style="font-family:Arial;">II. PROPÓSITO PRINCIPAL</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:38.6pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
                          <span style="font-family:Arial;">Participar y apoyar los planes, programas y proyectos aprobados por la Administración Municipal, colaborando en la conservación del orden, el espacio público y la movilidad, dando aplicación a las normas legales vigentes en su jurisdicción, materia policiva y de tránsito.</span>
                      </p>
                  </td>
              </tr>
          </tbody>
      </table>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">C. Mediante Acuerdo 029 de 2023 el Honorable Concejo Municipal aprobó la creación de la Inspección Municipal 3 a 6 categoría (Énfasis en Control Urbanístico), y con el fin de dar cumplimiento al acuerdo, el Alcalde Municipal expidió el Decreto número 051 de 2023 mediante el cual se modificó la planta de cargos, incluyendo la plaza de Inspector Municipal 3 a 6 categoría (Énfasis en Control Urbanístico), con las siguientes características:</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <table style="width:461.45pt; margin-bottom:0pt; border:0.75pt solid #000000; border-collapse:collapse;">
          <tbody>
              <tr>
                  <td colspan="2" style="width:449.9pt; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#b4c6e7;">
                      <p style="margin-bottom:0pt; text-align:center; line-height:normal;">
                          <strong>
                              <span style="font-family:Arial; color:#333333;">NIVEL TECNICO – GRADO 03&nbsp;</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                      <p class="NoSpacing" style="text-align:center; font-size:12pt;">
                          <strong>
                              <span style="font-family:Arial;">I. IDENTIFICACIÓN DEL CARGO</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">CARGO:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">INSPECTOR DE POLICÍA 3 A 6 CATEGORÍA (Con énfasis en control urbanístico)</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:20.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">NIVEL, CÓDIGO, GRADO</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">Técnico – 303 – 03</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.3pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">NÚMERO DE CARGOS:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">Uno (1)</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:18.4pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">ÁREA</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">Inspección Municipal de Policía&nbsp;</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:10.7pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">JEFE INMEDIATO</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">Secretario General y de Gobierno&nbsp;</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:17.5pt;">
                  <td style="width:163.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p class="NoSpacing" style="font-size:12pt;">
                          <span style="font-family:Arial;">CARÁCTER DEL EMPLEO O NATURALEZA:</span>
                      </p>
                  </td>
                  <td style="width:275.2pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                      <p class="NoSpacing" style="text-align:justify; font-size:12pt;">
                          <span style="font-family:Arial;">Carrera administrativa</span>
                      </p>
                  </td>
              </tr>
              <tr style="height:15.75pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                      <p style="margin-bottom:0pt; text-align:center; line-height:normal;">
                          <strong>
                              <span style="font-family:Arial;">II. PROPÓSITO PRINCIPAL</span>
                          </strong>
                      </p>
                  </td>
              </tr>
              <tr style="height:38.6pt;">
                  <td colspan="2" style="width:449.9pt; border-top:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
                          <span style="font-family:Arial;">Avocar, instruir y fallar los procesos por contravenciones de competencia relacionadas con el ordenamiento territorial y el urbanismo de conformidad con lo contemplado en la normatividad vigente.</span>
                      </p>
                  </td>
              </tr>
          </tbody>
      </table>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">D. En la Secretaría General y de Gobierno se han recibido documentos de la Estación de Policía, de los agentes de tránsito, de los contratistas de control urbanístico y solicitudes de particulares, los cuales requieren ser atendidos por la Inspección 1 y 2&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">E. Mediante Decreto 166 de 2020, se adoptó el manual de funciones, requisitos y competencias laborales para la planta de cargos del Municipio de San Vicente Ferrer, el cual fue compilado y actualizado con decreto 203 de 2022, estableciendo dentro del numeral 7 para las funciones asignadas al empleo de Secretario General y de Gobierno, la de:</span>
      </p>
      <p style="margin-left:49.65pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <em>
              <span style="font-family:Arial;">7. Direccionar el funcionamiento de las Inspecciones de Policía y tránsito de Sexta Categoría para la atención de las contravenciones y demás actividades de Policía de competencia Municipal, realizando el reparto de los procesos para asegurar su oportuna atención.</span>
          </em>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:12pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">F. En virtud de los principios que rigen la función administrativa y los mandatos emanados por la Ley 1801 de 2016 y decreto 203 de 2022, la Secretaria General y de Gobierno del Municipio de San Vicente Ferrer,&nbsp;</span>
      </p>
      <p class="ListParagraph" style="margin-left:0pt; margin-bottom:0pt; text-align:center; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">DISPONE:</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">&nbsp;</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <strong>
              <span style="font-family:Arial;">ARTÍCULO PRIMERO:&nbsp;</span>
          </strong>
          <span style="font-family:Arial;">Efectuar el reparto de los procesos radicados en la Secretaría General y de Gobierno y que pasan a conocimiento de la Inspección Municipal de Policía y Tránsito, {{agent.position}}:</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>

      <!-- Start Table -->
      <div>
        <br><br><br>
        {% if traffic_violation_compared|length > 0 %}
        <b><em><u> CONTRAVENCIONES DE TRANSITO POR COMPARENDO </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px; font-size:8.5pt;">FECHA DE LOS HECHOS</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px; font-size:8.5pt;">FECHA RECIBIDO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px; font-size:8.5pt;">IMPLICADO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px; font-size:8.5pt;">CEDULA</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px; font-size:8.5pt;">CODIGO INFRACCION</th>
                    <th style="background-color: #d9d9d9; padding: 8px; font-size:8.5pt;">RESPONSABLE DEL PROCEDIMIENTO</th>
                    <th style="background-color: #d9d9d9; padding: 8px; font-size:8.5pt;">Numero DE Compararendo</th>
                </tr>
                {% for item in traffic_violation_compared %}
                    <tr>
                        <td style="text-align: left; padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.date_events|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.date_received|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.involved}}</td>
                        <td style="text-align: left; padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.id_card}}</td>
                        <td style="text-align: left; padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.violation_code}}</td>
                        <td style="padding: 8px; font-size:8.5pt; word-break: break-all; white-space: pre-wrap">{{item.res_procedure}}</td>
                        <td style="padding: 2px; font-size:6.5pt; word-break: break-all; white-space: pre-wrap">{{item.compare_number}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}
    
        {% if police_compliant|length > 0 %}
        <b><em><u> QUERELLA DE POLICIA </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RADICADO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">FECHA RECIBIDO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">QUERELLANTES</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">QUERELLADOS</th>
                </tr>
                {% for item in police_compliant %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.filed}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.date_received|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.complainants}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.defendants}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}
    
        {% if traffic_violation_compared_my_colission|length > 0 %}
        <b><em><u> CONTRAVENCIONES DE TRANSITO POR COLISION </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">FECHA RECIBIDO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">IMPLICADO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RESPONSABLE DEL PROCEDIMIENTO</th>
                </tr>
                {% for item in traffic_violation_compared_my_colission %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.date_received|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.involved}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.res_procedure}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}


        {% if police_submission_lggs|length > 0 %}
        <b><em><u> COMPARENDOS POLICIVOS RADICADOS EN LA SECRETARIA GENERAL Y DE GOIERNO </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">NOMBRE</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">CEDULA</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">NUMERO DE COMPARENDO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">CODIGO DE INFRACCION</th>
                </tr>
                {% for item in police_submission_lggs %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.name}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.Id_card}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.appearance_num}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.act_num}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}
    

        {% if file_2_return_2d_office|length > 0 %}
        <b><em><u> EXPEDIENTE PARA DEVOLVER AL DESPACHO DE PRIMERA INSTANCIA </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RADICADO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">TIPO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">IMPLICADO</th>
                </tr>
                {% for item in file_2_return_2d_office %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.filed}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.guy|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.involved}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}
    
        {% if complaint_and_office_to_attend|length > 0 %}
        <b><em><u> QUEJAS Y OFICIOS POR ATENDER </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
                <tr>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RADICADO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">FECHA DE RECIBIDO</th>
                    <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">ASUNTO</th>
                </tr>
                {% for item in complaint_and_office_to_attend %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.filed}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.date_received|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.affair}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        {% endif %}
    

        {% if urban_control|length > 0 %}
        <b><em><u> CONTROL URBANISTICO </u></em></b>
        <div style="overflow-x:auto;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #000000; table-layout: fixed;">
              <tr>
                <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RADICADO</th>
                <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">FECHA DE RECIBIDO</th>
                <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">SOLICITANTE/ IMPLICADO/ ASUNTO</th>
                <th style="background-color: #d9d9d9; text-align: left; padding: 8px;">RESPONSABLE DEL INFORME Y/O QUEJA</th>
              </tr>
                {% for item in urban_control %}
                    <tr>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.filed}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.date_received|date:"d/m/Y"}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.Involved_applicant}}</td>
                        <td style="text-align: left; padding: 8px; word-break: break-all; white-space: pre-wrap">{{item.res_report}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: left; padding: 8px;">There are currently no Data</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br><br><br>
        {% endif %}
    </div>

      <!-- End Table -->
      
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <strong>
              <span style="font-family:Arial;">&nbsp;</span>
          </strong>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <strong>
              <span style="font-family:Arial;">ARTÍCULO SEGUNDO:&nbsp;</span>
          </strong>
          <span style="font-family:Arial;">En cada uno de los procesos objeto de reparto en el presente documento, el Inspector deberá relacionar el número y fecha del auto por medio del cual se asignó la competencia para conocer del tema.</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <strong>
              <span style="font-family:Arial;">PARÁGRAFO:</span>
          </strong>
          <span style="font-family:Arial;">&nbsp;&nbsp;</span>
          <span style="font-family:Arial;">El Inspector deberá incluir los procesos recibidos en reparto en el archivo de seguimiento acordado con este despacho en mayo de 2021.</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <strong>
              <span style="font-family:Arial;">ARTÍCULO TERCERO:&nbsp;</span>
          </strong>
          <span style="font-family:Arial;">Por tratarse de un acto administrativo de trámite, contra el mismo no proceden recursos.</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <strong>
              <span style="font-family:Arial;">ARTÍCULO CUARTO:&nbsp;</span>
          </strong>
          <span style="font-family:Arial;">El presente acto administrativo rige a partir de la fecha de su expedición.</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">Dado en el Municipio de San Vicente Ferrer, el {{ current_date|date:"F j, Y"}}.</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>
      <p style="margin-bottom:0pt; text-align:justify; line-height:normal; font-size:11.5pt;">
          <span style="font-family:Arial;">&nbsp;</span>
      </p>

      <div>
          {% if userOrg.signature is not null %}
              <img src="{{userOrg.signature.url}}" alt="..." className="" style="height: 55px; width: 80px" />
          {% endif %}
    
    <p
    style="
        margin-bottom: 0pt;
        text-align: justify;
        line-height: normal;
        
    "
    >
    <strong>
        <span style="font-family: Arial">{{userOrg.first_name}} {{userOrg.last_name}}</span>
    </strong>
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 11.5pt">
    <span style="font-family: Arial">{{userOrg.position}}</span>
    </p>
  </div>
 


</body></html>